<div class="footer">
   <div class="icons">
    <i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
<i class="fa-brands fa-facebook"></i>
   </div>
   <div class="footer-border"> <b>Terms</b></div>
   
</div>
